*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  border: none;
}
body{
  background-color: whitesmoke;
}
.container{
  font-family: sans-serif;
  text-align: center;
}
.container img {
  width:350px;
  height:350px;
}
.btn{
  padding: 8px 20px;
  border: none;
  margin: 24px 0;
  font-size: 15px;
  background-color: white;
  cursor: pointer;
  box-shadow:  0 0 20px lightgray;
  transition: all 0.5s;
}
.container .btn:hover{
  box-shadow: inset 0 0 5px lightgray;
}
